.App {
  text-align: center;
}

button { 

  background-color:dodgerblue;
  border-radius: 8px;

  box-sizing: border-box;



  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;

  margin: 0;

  padding: 10px 16px;

  text-align: center;


}

input {
  font-family: inherit;
  outline: 0;
  font-size: 1rem;
  color: black;
  background: transparent;
  transition: border-color 0.2s;
  
}