.App {
  text-align: center;

}



body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #333333;
  margin: 0;
}

table{
  text-align: center;
  margin-left: auto;
  margin-right: auto;

}

.column {
  float:left;
  width: 50%;

}

input {
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Buttons */
button {
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #00f;
  color: #fff;
}

/* Lists */

ul { 
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 8px;
  margin-bottom: 7px;
  background-color: #7DCEA0;
  color: #ffffff;
}

h3 {
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #000;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color:#3399FF;
  color: white;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  color: #3399FF;
  text-align: center;
}

h3 { 

  font-size: 17px;
  font-weight: bold;
  color: #3399FF;
  text-align: center;

}